<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <ul class="nav">
                    <li>About</li></li>
                    <li>Work</li>
                    <li>Team</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <div class="main">
                    <h1>We are Broadway</h1>
                    <a class="btn btn-primary" href="#">Get Started!</a>
                </div>
            </div>
        </div>
    </body>
</html>